PORT=3000
GOOGLE_PLACES_API_KEY=CHANGE_ME
GOOGLE_MAPS_BROWSER_API_KEY=CHANGE_ME
GOOGLE_MAPS_MAP_ID=9ba1e209cb377138b81026f3
GOOGLE_WEATHER_API_KEY=CHANGE_ME
GOOGLE_ROUTES_API_KEY=CHANGE_ME
MAPS_API_KEY=CHANGE_ME
SUPABASE_URL=https://tscmfdcmocvowipweyrb.supabase.co
SUPABASE_ANON_KEY=CHANGE_ME
SUPABASE_SERVICE_ROLE_KEY=CHANGE_ME
GROQ_API_KEY_1=CHANGE_ME
GROQ_API_KEY_2=CHANGE_ME
GROQ_MODEL=openai/gpt-oss-20b
GEMINI_API_KEY=CHANGE_ME
