PORT=3000
GOOGLE_PLACES_API_KEY=AIzaSyB_6NFvD5Ni_MiM6TSMnTs2wJxPnuKtrOE
GOOGLE_MAPS_BROWSER_API_KEY=AIzaSyB_6NFvD5Ni_MiM6TSMnTs2wJxPnuKtrOE
GOOGLE_MAPS_MAP_ID=9ba1e209cb377138b81026f3
GOOGLE_WEATHER_API_KEY=AIzaSyB_6NFvD5Ni_MiM6TSMnTs2wJxPnuKtrOE
GOOGLE_ROUTES_API_KEY=AIzaSyB_6NFvD5Ni_MiM6TSMnTs2wJxPnuKtrOE
MAPS_API_KEY=AIzaSyB_6NFvD5Ni_MiM6TSMnTs2wJxPnuKtrOE
SUPABASE_URL=https://tscmfdcmocvowipweyrb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_Hg7c0yfqKL1wxaLvLown4Q_19G7Dqw5
SUPABASE_SERVICE_ROLE_KEY=REPLACE_ME
GROQ_API_KEY_1=REPLACE_ME
GROQ_API_KEY_2=REPLACE_ME
GROQ_MODEL=openai/gpt-oss-20b
GEMINI_API_KEY=REPLACE_ME
